demono.combat

  .abilities
    display: flex
    flex-direction: column

    demono.ability
      flex-basis: 12.5%
      border: 0.2rem solid blue
      margin: 1rem

      &.clickable
        cursor: pointer

        &:hover
          background-color: aliceblue