demono.combat

  demono.ability-list
    display: flex
    flex-direction: column

    demono.ability
      flex-basis: 12.5%
      border: 0.2rem solid blue
      margin: 1rem
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0 3rem