demono.combat .demon-list

  display: flex
  flex-direction: column
  align-items: stretch

  > div
    flex-basis: 20%
    margin: 0 1rem 1rem 0
    position: relative

    .active
      border-color: royalblue
      .bar-value
        background-color: royalblue
      .text
        -webkit-text-stroke-color: #7195ff

    .bar
      font-size: 1.2em