demono.combat .demon-list

  display: flex
  flex-direction: column
  align-items: stretch

  > *
    flex-basis: 20%
    margin: 1rem

  .demon-bar
    position: relative

    .bar
      font-size: 1.2em