demono.combat
  .enemies
    display: flex
    flex-direction: row
    align-items: center
    height: 100%
    justify-content: center

    demono.enemy-combatant

      margin: 0 2rem
      display: flex
      flex-direction: column
      align-items: center

      .enemy-card
        @include boxshadow
        position: relative
        width: 16rem
        height: 6rem
        display: flex
        align-items: center
        justify-content: center

        .armor-icon
          $size: 1.2em
          position: absolute
          right: $size/-2
          bottom: $size/-4
          height: $size
          width: $size
          display: inline-block
          background-repeat: no-repeat
          background-size: contain
          &.none
            display: none
          &.phys
            background-image: url('../../assets/pshield.svg')
          &.magic
            background-image: url('../../assets/mshield.svg')



      .health-bar
        position: relative
        width: 90%
        height: 2.5rem
        margin-top: 1.3rem

      //.stats
      //  width: 84%
      //  display: flex
      //  flex-direction: row
      //
      //  .stat
      //    display: flex
      //    flex-direction: row
      //    align-items: center