demono.combat
  demono.messaging
    position: relative

    > *
      @include fullsize
      display: none

    &[mode='display']
      .display
        display: flex
        align-items: center
        justify-content: center

    &[mode='log']
      .log
        display: inline-block