.upcoming-ability-list
  width: 100%
  margin-bottom: 1.3rem
  display: flex
  justify-content: left
  align-items: center

  .time-icon
    background-repeat: no-repeat
    background-size: contain
    background-image: url('../../assets/time.svg')
    width: 2.5rem
    height: 2.5rem
    display: inline-block
    margin-right: 1.5rem

  .classification-icon
    background-repeat: no-repeat
    background-size: contain
    width: 1.7rem
    height: 1.7rem
    display: inline-block
    margin-right: -0.5rem

    &.physattack
      background-image: url('../../assets/physattack.svg')